# db
db.json

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# python virtual environments
venv/

# environment variables
env

# Emacs temp files
\#*\#
*~
.#*

# Helix config
.helix/
